extends base.pug

block style 
    style 
        include ../static/style_base.css
        include ../static/style_history.css

block content 
    <div class="table-heading">
        <h1>Transaction History</h1>
    </div>

    <div class="members-img" style="transform: translateY(-5rem);"></div>

    <div class="table-main-div">
        <table class="table-main">

            <tr>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Amount</th>
                <th class="date">Date</th>
            </tr>
            
            
                <tr> 
                <td> #{history[0]} </td>
                <td> #{history[1]} </td>
                <td> #{history[2]} </td>
                <td> #{history[3]} </td>
                </tr>

            //- each hist in history
            //-     <tr>
            //-         <td> #{hist.sender} </td>
            //-         <td> #{hist.receiver} </td>
            //-         <td> #{hist.amount} </td>
            //-         <td class="date"> #{hist.date} </td>
            //-     </tr>
            
            
        
        
        </table>
    </div>


